.footer {
  /* width: 1200px; */
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  &-container {
  width: 1200px;
  /* padding: 0; */
  padding-left: 15px;
  padding-right: 15px;
  /* border: 1px solid red; */
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: baseline;
  }
  
  &-social {
  width: 206px;
  /* height: 168px; */
  display: inline-block;
  /* padding-top: 12px; */
  margin-left: 70px;
}

}


.adress {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;

  &-footer {
  display: inline-block;
}
  &-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
  &-text {
  display: flex;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&-text:hover, 
&-text:focus {
  color: #FFFFFF;
}
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  text-decoration: none;
}
.comand__card {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--black-color);
  margin-bottom: 4px;
}
.card-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--grey-color);
}

/* Кнопки соц.мереж футер   */

.text-social {
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
/* text-transform: uppercase; */
margin-bottom: 20px;
color: #FFFFFF;
}

.footer * {
  /* outline: 1px solid red; */
  list-style: none;
}
.list-social {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.element-social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social-item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover,
.social-item:focus {
  /* background-color: #AFB1B8; */
  color: #2196F3;
  border: 1px solid #2196F3;
}
// .social-link {
//   fill: red;
// } 
 .footer-email {
    width: 570px;
    margin-left: 93px;
    justify-content: space-between;
  }
  .button-email {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 6%;
  color: var(--white-color);
  border: none  ;
    
    width: 200px;
    height: 50px;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  .send-icon {
    fill: var(--white-color);
    margin-left: 10px;
    align-items: center;
  }
  /* Подписка на розсилку в футере */

  .footer-form {
    display: flex;
    /* width: 570px; */
  }

.input {
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 10px;
  padding-left: 10px;
  color: whitesmoke;
}