// Палітра кольорів макета і набори шрифтів винесені у змінні
:root {
  --white-color: #ffffff;
  --black-color: #212121;
  --grey-color: #757575;
  --blue-color: #2196f3;
  --grey-color-social: #AFB1B8;
}